<!DOCTYPE html>
<html lang="ko">
<% include ../layout/head %>

<body>
    <% include ../layout/nav %>

    <div class="container">
        <h1>자유게시판</h1>
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>글번호</th>
                            <th width="70%">제목</th>
                            <th>글쓴이</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < list.length; i++) { %>
                        <tr class="text-center">
                            <td><%= list[i].id %></td>
                            <td>
                                <a href="/board/view/<%= list[i].id %>">
                                    <%= list[i].title %>
                                </a>
                            </td>
                            <td><%= list[i].name %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3 justify-content-center d-flex">
            <ul class="pagination">
                <%if(p.prev){%>
                <li><a href="#" class="page-link">이전</a></li>
                <%}%>
                <%for(let i= p.startPage;i <= p.endPage;i++){%>
                <li><a href="/board?p=<%=p.startPage - 1%>" class="page-link"><%=i%></a></li>
                <%}%>
                <%if(p.next){%>
                <li><a href="/board?p=<%=p.endPage+ 1%>" class="page-link">다음</a></li>
                <%}%>
            </ul>
        </div>

        <% if(locals.user) { %>
        <div class="row mt-3">
            <div class="col-10 offset-1 text-right">
                <a href="/board/write" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>